* {
    font-family: 'Montserrat', sans-serif;
}

.img-cst {
    width: 148px;
    height: 40px;
}

#header .navbar-collapse{
    padding-left: 50px;
    width: auto;
}

#header .nav-link {
    padding: 8px 16px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

#header .nav-link:hover {
    border-bottom: 2px solid var(--primary);
}

.bgmain {
    background-color: #222;
}

.jumbotext {
    color: var(--primary);
    font-weight: 800;
    font-size: 4.8rem;
    padding-top: 170px;
    margin-bottom: 0;
}

.jumbotext-sec {
    margin-top: 0;
    font-weight: 300;
    font-size: 3rem;
    color: #fff;
}

.jumbotext-third {
    font-size:1.25rem;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 70px;
}

.img-bonus {
    margin-top: 25rem;
    width: 100%;
}

.img-rocket {
    margin-top: 20rem;
    width: 100%;
}

.ytFrame {
    margin: 80px 20px 0px 0px;
}

.video-caption {
    margin-top: 15rem;
}

.DeFi-caption {
    margin-top: 5rem;
}

.DeFi-caption p {
    margin-top: 5rem;
}

.Defi-img {
    width: 27rem;
    height: 28rem;
    margin-top: 8rem;
    /* margin-left: 10rem; */
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0px;
}

.crosschain {
    background-color: var(--primary);
    color: #222;
}

.caption h3 {
    font-size: 5rem;
    font-weight: 300;
    padding-top: 5rem;
}

.btn-crosschain {
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;    
    text-align: center;
}

.btn-cross{
    text-align: center;
    border: 1px solid #222;
    font-weight: 600;
}

.btn-contract {
    margin-bottom: 5em;
}


.card img {
    filter: grayscale(1);
}

.card i {
    color: #222;
    padding-right: 10px;
    font-size: 1.25rem;
}

.gadget img {
    margin-top: 50px;
}

.footer {
    margin: 80px 0px 80px 0px;
}

.copyright {
    background-color: rgb(238, 234, 234);
    padding: 30px;
    font-size: 1rem;
}

.social a {
    color: #222;
}

.social a:hover {
    color: #000;
}

#social-logos i{
    font-size: 1.5rem;
    padding-right: 1rem;
}

@media screen and (max-width: 992px) {
    .footer {
        margin-left: 0rem;
    }
}

@media screen and (max-width: 750px) {
    .footer {
        margin-left: 0;
    }
}

@media screen and (max-width: 675px) {
    .jumbotext {
        font-size: 2.8rem;
        padding-top: 100px;
    }

    .jumbotext-sec {
        font-size: 2rem;
    }

    .jumbotext-third {
        font-size: 1.5rem;
    }

    .caption h3 {
        font-size: 3rem;
        font-weight: 300;
        padding-top: 5rem;
    }

    .copyright {
        font-size: 0.6rem;
    }    
    .img-bonus {
        margin-top: 8rem;
    }
    .img-rocket {
        width: 50%;
        margin-top: 8rem;
    }

    .Defi-img {
        width: 20rem;
        height: 20rem;
    }
}

@media screen and (max-width: 375px) {
    #social-logos {
        margin-left: 1.5rem;
    }
}
